# Ignore Python cache files
__pycache__/
*.pyc

# Ignore virtual environment
venv/
.env

# Ignore OS-specific files
.DS_Store
Thumbs.db

# Ignore IDE-specific files
.vscode/
.idea/

# Ignore test coverage files
.coverage
*.cover

# Ignore temporary files
*.tmp
*.log

# Ignore distribution files
dist/
build/
*.egg-info/